# Module 7 Exercises - Linear Regression

### Exercise 1:

Using the pandas library, in the datasets folder load the gradedata.csv file as a dataframe. Narrow your data (make the dataframe smaller) by choosing columns that you think can help predict student grades. Use any method that you've learned so far to help your decision on which columns to keep.

In [1]:
import pandas as pd

gradataf=pd.read_csv('datasets/gradedata.csv')
gradata=gradataf.drop(['address','fname','lname','gender','age','exercise'],axis=1)
gradata.head()

   hours  grade
0     10   82.4
1      4   78.2
2      9   79.3
3      7   83.2
4     15   87.4

In [2]:
gradataf.corr()

               age  exercise     hours     grade
age       1.000000 -0.003643 -0.017467 -0.007580
exercise -0.003643  1.000000  0.021105  0.161286
hours    -0.017467  0.021105  1.000000  0.801955
grade    -0.007580  0.161286  0.801955  1.000000

### Exercise 2:

Using the dataframe in the exercise above, clean and prepare your data. This means to eliminate any null (missing) values (either by dropping or filling them) and to transform any data column types to numerical values that a model can interpret. For example, if the column has string values, convert them to integers that best represent their order.

In [3]:
gradatan=gradata.dropna()

In [4]:
gradatan['hours']=gradatan['hours'].astype(float)
gradatan['grade']=gradatan['grade'].astype(float)

In [5]:
gradatan.tail()

      hours  grade
1995    8.0   80.1
1996   18.0  100.0
1997   14.0   84.9
1998    7.0   69.1
1999   10.0   79.6

### Exercise 3:

Using the cleaned dataframe in the exercise above, use the sklearn library to split the data into training and test datasets. Make the test size 30%.

In [7]:
import sklearn
from sklearn.linear_model import LinearRegression

In [29]:
X=gradatan.drop('grade', axis = 1)

X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(
    X, gradatan.grade, test_size=0.30, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(1400, 1)
(600, 1)
(1400,)
(600,)

### Exercise 4:

Using the training data from the previous exercise, set a linear regression function to fit the data (build the model).

In [30]:
lm=LinearRegression()

lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Exercise 5:

What is the intercept coefficient (y-intercept) for the linear regression model?

In [31]:
print('Estimated intercept coefficient:', lm.intercept_)

Estimated intercept coefficient: 61.15804743757283

### Exercise 6:

Use the predict function on the training data and the test data.

In [32]:
pred_train = lm.predict(X_train)
pred_test = lm.predict(X_test)

In [33]:
print(pred_train)

[65.07475893 84.65831637 80.74160488 ... 98.36680658 76.82489339
 72.9081819 ]

In [34]:
print(pred_test)

[ 90.5333836   88.57502785  78.78324913  74.86653765  82.69996062
  90.5333836   96.40845083 100.32516232  86.61667211  90.5333836
  70.94982616  74.86653765  82.69996062  84.65831637  90.5333836
  80.74160488  74.86653765  76.82489339  86.61667211  84.65831637
  78.78324913  80.74160488  84.65831637  88.57502785  90.5333836
  74.86653765  70.94982616  88.57502785  98.36680658  72.9081819
  76.82489339  74.86653765  96.40845083  74.86653765  98.36680658
  90.5333836   90.5333836   88.57502785  90.5333836   84.65831637
  84.65831637  80.74160488  94.45009509  86.61667211  94.45009509
  80.74160488  84.65831637  74.86653765  76.82489339  86.61667211
  90.5333836   84.65831637  72.9081819   88.57502785  84.65831637
  76.82489339  70.94982616  72.9081819   82.69996062  72.9081819
  94.45009509  96.40845083  92.49173934  94.45009509  92.49173934
  84.65831637  92.49173934  88.57502785  80.74160488  72.9081819
  80.74160488  80.74160488  86.61667211  86.61667211  96.40845083
  90.5333836   78.78324913  76.82489339  72.9081819   98.36680658
  88.57502785  78.78324913  82.69996062  80.74160488  82.69996062
  90.5333836   72.9081819   84.65831637  70.94982616  80.74160488
  88.57502785  76.82489339  76.82489339  68.99147041  86.61667211
  88.57502785  84.65831637  72.9081819   86.61667211  84.65831637
  90.5333836   88.57502785  88.57502785  92.49173934  74.86653765
  78.78324913  84.65831637  72.9081819   86.61667211  94.45009509
  82.69996062  78.78324913  84.65831637  70.94982616  78.78324913
  88.57502785  86.61667211  82.69996062  84.65831637  92.49173934
  68.99147041  88.57502785  70.94982616  82.69996062  78.78324913
  86.61667211  98.36680658  88.57502785  92.49173934  80.74160488
  88.57502785  78.78324913  92.49173934  68.99147041  70.94982616
  70.94982616  96.40845083  78.78324913  86.61667211  84.65831637
  80.74160488  72.9081819   78.78324913  80.74160488  86.61667211
  86.61667211  84.65831637  92.49173934  90.5333836   84.65831637
  84.65831637  84.65831637  86.61667211  92.49173934  82.69996062
  80.74160488  80.74160488  68.99147041  86.61667211  74.86653765
  74.86653765  65.07475893  82.69996062  80.74160488  82.69996062
  82.69996062  74.86653765  68.99147041  86.61667211  82.69996062
  88.57502785  80.74160488  92.49173934  84.65831637  61.15804744
  72.9081819   78.78324913  76.82489339  86.61667211  82.69996062
  78.78324913  88.57502785  74.86653765  96.40845083  96.40845083
  82.69996062  74.86653765  84.65831637  82.69996062  80.74160488
  78.78324913  72.9081819   82.69996062  94.45009509  86.61667211
  96.40845083  72.9081819   76.82489339  78.78324913  74.86653765
  94.45009509  80.74160488  80.74160488  80.74160488  76.82489339
  70.94982616  88.57502785  82.69996062  82.69996062  98.36680658
  78.78324913  88.57502785  90.5333836   86.61667211  88.57502785
  78.78324913  84.65831637  84.65831637  68.99147041  80.74160488
  92.49173934  72.9081819   68.99147041  78.78324913  90.5333836
  74.86653765  88.57502785  92.49173934  96.40845083  76.82489339
  80.74160488  76.82489339  80.74160488  74.86653765  90.5333836
  80.74160488  70.94982616  78.78324913  88.57502785  84.65831637
  86.61667211  86.61667211  82.69996062  92.49173934  90.5333836
  80.74160488  78.78324913  80.74160488  78.78324913  70.94982616
  70.94982616 100.32516232  84.65831637  86.61667211  70.94982616
  92.49173934  90.5333836  100.32516232  84.65831637  72.9081819
  80.74160488  80.74160488  78.78324913  67.03311467  74.86653765
  92.49173934  80.74160488  94.45009509  72.9081819   80.74160488
  90.5333836   92.49173934  90.5333836   86.61667211  74.86653765
  90.5333836  100.32516232  86.61667211  90.5333836   84.65831637
  82.69996062  78.78324913  98.36680658  82.69996062  68.99147041
  88.57502785  84.65831637  90.5333836   78.78324913  92.49173934
  90.5333836   80.74160488  82.69996062  88.57502785  72.9081819
  80.74160488  86.61667211  84.65831637  70.94982616  94.45009509
  84.65831637  96.40845083  96.40845083  78.78324913  74.86653765
  76.82489339  68.99147041  78.78324913  72.9081819   74.86653765
  84.65831637  94.45009509  78.78324913  74.86653765  94.45009509
  78.78324913  74.86653765  84.65831637  86.61667211  86.61667211
  70.94982616  96.40845083  67.03311467  82.69996062  74.86653765
  86.61667211  88.57502785  80.74160488  92.49173934  88.57502785
  98.36680658  82.69996062  76.82489339  61.15804744  88.57502785
  84.65831637  72.9081819   82.69996062  86.61667211  76.82489339
  90.5333836   94.45009509  82.69996062  76.82489339  65.07475893
  72.9081819   82.69996062  88.57502785  70.94982616  88.57502785
  72.9081819   76.82489339  80.74160488  96.40845083  76.82489339
  84.65831637  94.45009509  86.61667211  88.57502785  78.78324913
  90.5333836   96.40845083  78.78324913  80.74160488  92.49173934
  78.78324913  80.74160488  74.86653765  78.78324913  76.82489339
  94.45009509  84.65831637  96.40845083  72.9081819   78.78324913
  88.57502785  86.61667211  94.45009509  67.03311467  84.65831637
  86.61667211  84.65831637  80.74160488  74.86653765  82.69996062
  78.78324913  82.69996062  94.45009509  84.65831637  84.65831637
  92.49173934  80.74160488  76.82489339  86.61667211  94.45009509
  90.5333836   96.40845083  76.82489339  72.9081819   82.69996062
  67.03311467  84.65831637  92.49173934  67.03311467  76.82489339
  86.61667211  86.61667211  86.61667211  84.65831637  84.65831637
  72.9081819   74.86653765  76.82489339  82.69996062  82.69996062
  82.69996062  74.86653765  88.57502785  82.69996062  86.61667211
  74.86653765  76.82489339  98.36680658  70.94982616  96.40845083
  82.69996062  70.94982616  72.9081819   76.82489339  86.61667211
  82.69996062  96.40845083  68.99147041  80.74160488  78.78324913
  84.65831637  90.5333836   88.57502785  70.94982616  76.82489339
  90.5333836   92.49173934  84.65831637  80.74160488  70.94982616
  88.57502785  72.9081819   92.49173934  76.82489339  82.69996062
  84.65831637  80.74160488  74.86653765  72.9081819   86.61667211
  70.94982616  84.65831637  88.57502785  80.74160488  80.74160488
  68.99147041  80.74160488  72.9081819   92.49173934  78.78324913
  82.69996062  86.61667211  90.5333836   86.61667211  72.9081819
  88.57502785  74.86653765  94.45009509  72.9081819   80.74160488
  76.82489339  70.94982616  94.45009509  70.94982616  80.74160488
  92.49173934  78.78324913  82.69996062  82.69996062  88.57502785
  72.9081819   76.82489339  80.74160488  90.5333836   86.61667211
  92.49173934  98.36680658  70.94982616  86.61667211 100.32516232
  82.69996062  74.86653765  86.61667211  82.69996062  76.82489339
  94.45009509  82.69996062  80.74160488  90.5333836   76.82489339
  90.5333836   82.69996062  90.5333836   92.49173934  84.65831637
  72.9081819   80.74160488  88.57502785  88.57502785  86.61667211
  94.45009509  88.57502785  80.74160488  74.86653765  76.82489339
  74.86653765  80.74160488  84.65831637  90.5333836   68.99147041
  78.78324913  80.74160488  88.57502785  80.74160488  82.69996062
  88.57502785  88.57502785  72.9081819   84.65831637  84.65831637
  94.45009509  74.86653765  90.5333836   86.61667211  90.5333836
  74.86653765  80.74160488  96.40845083  76.82489339  96.40845083
  78.78324913  68.99147041  94.45009509  78.78324913  76.82489339
  84.65831637  70.94982616  78.78324913  92.49173934  76.82489339
  90.5333836   82.69996062  82.69996062  80.74160488  68.99147041
  74.86653765  92.49173934  92.49173934  94.45009509  94.45009509
  78.78324913  84.65831637  94.45009509  68.99147041 100.32516232
  86.61667211 100.32516232  74.86653765  90.5333836   90.5333836
  88.57502785  86.61667211  82.69996062  74.86653765  74.86653765
  80.74160488  67.03311467  76.82489339  70.94982616 100.32516232
  86.61667211  70.94982616  90.5333836   80.74160488  76.82489339
  78.78324913  82.69996062  80.74160488  90.5333836   68.99147041
  96.40845083  82.69996062  86.61667211  90.5333836   86.61667211]

### Exercise 7:

Calculate the score of the training and test predictions. How "good" was the linear regression model at predicting the test data compared to the training data?

In [35]:
print(lm.score(X_train, Y_train))
print(lm.score(X_test, Y_test))

0.6617668087717481
0.5968856418384679

In [37]:
#kinda good