In [3]:
employees={'001':
            {'Name':'Mary',
            'Pay Rate':15,
            'Hours Worked':40},
            '002':{'Name':'John',
            'Pay Rate':22,
            'Hours Worked':25},
            '003':{'Name':'Bob',
            'Pay Rate':35,
            'Hours Worked':4},
            '004':{'Name':'Mel',
            'Pay Rate':43,
            'Hours Worked':62},
            '005':{'Name':'Jen',
            'Pay Rate':17,
            'Hours Worked':33},
            '006':{'Name':'Sue',
            'Pay Rate':29,
            'Hours Worked':45},
            '007':{'Name':'Ken',
            'Pay Rate':40,
            'Hours Worked':36},
            '008':{'Name':'Dave',
            'Pay Rate':20,
            'Hours Worked':17},
            '009':{'Name':'Beth',
            'Pay Rate':37,
            'Hours Worked':37},
            '010':{'Name':'Ray',
            'Pay Rate':16.5,
            'Hours Worked':80}
        }

In [6]:
for iden, employee in employees.items():
    hours=employee["Hours Worked"]
    pay=employee["Pay Rate"]
    if hours > 40:
        salary=((40*pay)+((hours-40)*pay*1.5))
    else:
        salary=(hours*pay)
    print(employee['Name'] + ": $" +str("{:.2f}".format(salary,2)))

Mary: $600.00
John: $550.00
Bob: $140.00
Mel: $3139.00
Jen: $561.00
Sue: $1377.50
Ken: $1440.00
Dave: $340.00
Beth: $1369.00
Ray: $1650.00